@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

body {
    font-family: Arial, sans-serif;
    height: 4000px; 
    background-image: linear-gradient(0deg, rgb(113, 234, 255), rgb(209, 245, 252));
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2e2e2e;
    transition: background-color 0.3s ease;
    z-index: 1000;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
}

nav ul li {
    margin: 0px;
    justify-content: space-between;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    color: #4eee96;
    background-color: #000000;
    border-radius: 5px;
}

.scrolled {
    background-color: #2e2e2e4b;
}

section {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

section h1 {
    font-size: 50px;
}
